<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10"
        version   = "2016.01.23.1">

    <name>Baraban 25</name>
    <preference name="phonegap-version" value="cli-5.2.0" />

    <description>
        Gonki.in.ua baraban field mobile app for people who enters the data
    </description>

    <author href="https://ivanezko.com" email="ivanezko@gmail.com">
        Ivan Eidemiller
    </author>

    <access origin="*" />

        <gap:plugin name="cordova-plugin-sms" source="npm" />
        <gap:plugin name="org.apache.cordova.device" source="pgb" spec="0.3.0" />

    
</widget>
