<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.gonkibaraban"
        versionCode="11"
        version   = "2016.01.23.1">

    <name>Baraban 30</name>
    <preference name="phonegap-version" value="3.1.0" />

    <description>
        Gonki.in.ua baraban field mobile app for people who enters the data
    </description>

    <author href="https://ivanezko.com" email="ivanezko@gmail.com">
        Ivan Eidemiller
    </author>

    <access origin="*" />
        <plugin name="info.ivanezko.phonegap.smsplugin" spec="0.2.1" source="pgb" />
        <gap:plugin name="org.apache.cordova.device" source="pgb" spec="0.3.0" />

    
</widget>
