/* Put your custom CSS here */
.gn-number {
    width: 80px;
}

.gn-number-cnt .ui-btn-text {
    font-size:18pt;
}

.gn-number-zero {
    width: 272px;
}

.gn-submit  .ui-btn-text {
    /*font-size:18pt;*/
}

.gn-inputtext {
    /*text-align: center;*/
    font-size:26pt !important;
}

.ui-input-text {
    margin: 0 !important;
}