/* Put your custom CSS here */

.gn-submit  .ui-btn-text {
    font-size:34px;
}

.gn-inputtext {
    /*text-align: center;*/
    font-size:34px !important;
}

.ui-input-text {
    margin: 0 !important;
}

.log-data {
    font-weight: 700;
}